---
- name: assert | Test if kibana_type is set correctly
  ansible.builtin.assert:
    quiet: true
    that:
      - kibana_type is defined
      - kibana_type is string
      - kibana_type in [ "elastic", "oss" ]
- name: assert | Test if kibana_server_port is set correctly
  ansible.builtin.assert:
    quiet: true
    that:
      - kibana_server_port is defined
      - kibana_server_port is number
      - kibana_server_port >= 1
      - kibana_server_port <= 65536
- name: assert | Test if kibana_server_host is set correctly
  ansible.builtin.assert:
    quiet: true
    that:
      - kibana_server_host is defined
      - kibana_server_host is string
- name: assert | Test if kibana_elasticsearch_hosts is set correctly
  ansible.builtin.assert:
    quiet: true
    that:
      - kibana_elasticsearch_hosts is defined
      - kibana_elasticsearch_hosts is iterable
